.App{
    width: 60vw;
    margin: 20px auto;

}

.header{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 0px;
}
.postComponent{
    width: 100%;
    display: flex;
    justify-content: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 5px;
    border-bottom: 1px solid #E5E5E5;

}
.postComponent:last-child{
    border: none;
}

